body { background: #a6b571; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 54px; display: flex; }
.block-logger-0 { color: #eee0e1; font-size: 20px; margin-bottom: 5px; }
.block-logger-1 { color: #590f9f; font-size: 14px; margin-bottom: 5px; }
.block-database-2 { color: #923216; font-size: 19px; margin-bottom: 5px; }
.block-product-3 { color: #c31fb; font-size: 19px; margin-bottom: 5px; }
.block-uploader-4 { color: #eb8612; font-size: 19px; margin-bottom: 5px; }